---
import Modal from '../Modal.astro';
---

<Modal id="modal-node" title="高性能数据库设计">
	<div class="space-y-4">
		<p class="text-lg">工作室数据库设计实践：</p>
		<ul class="list-disc list-inside space-y-2 ml-4">
			<li><strong>几乎所有项目都需要数据库设计！</strong></li>
			<li><strong>MySQL / PostgreSQL</strong> - 关系型数据库</li>
			<li><strong>MongoDB / Redis</strong> - NoSQL 与缓存方案</li>
			<li><strong>性能优化</strong> - 索引设计、查询优化</li>
		</ul>
		<p class="mt-4 text-gray-400">亲手设计服务全校师生的数据库结构，掌握企业级数据库技能。</p>
	</div>
</Modal>
